
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

/* Navbar Styling */
.navbar {
    width: 100%;
    background-color: #633dce; /* Blue color for navbar */
    box-shadow: 0 8px 8px rgba(19, 18, 18, 0.4); /* Dark blue shadow */
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 10;
}

.navbar .logo {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar ul li {
    font-size: 1rem;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #0c0c0c;
}


.navbar .menu-toggle {
    display: none; /* Hide*/
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #33312f;
        width: 100%;
        display: none; /* Hidden */
    }

    .navbar ul.active {
        display: flex; /* Show the menu */
    }

    .navbar .menu-toggle {
        display: block; 
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }
}
